@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins";
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    text-align: left;
    width: 40vw;
    margin: 0 4%;
}

.title {
    padding: 40px 0 20px;
    font-size: 2em;
}

.pharagraph {
    padding: 15px 0% 25px;
    font-size: 1.1em;
}

.button {
    align-self: flex-start;
    transform: scale(1.01);
    background-color: #252525;
    padding: 10px 30px;
    border-radius: 30px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.gates {
    /* position: absolute; */
    width: 40vw;
    height: 40vw;
    margin: 5% 5% 0;
}

.dark, .light {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50% 50% 0% 0% / 40% 40% 0% 0% ;
    width: 20vw;
    height: 25vw;
}

.dark {
    position: relative;
    top: 5%;
    left: 7%;
}

.light {
    position: relative;
    bottom: 35%;
    left: 38%;
}

.cloud {
    display: flex;
    text-align: left;
    padding: 5%;
    background-color: #252525;
    border-radius: 30px;
    margin: 2% 5% 0;
    color: white;
}

.item > *{
    margin: 3%;
}

.cloud-logo {
    width: 24px;
    height: 24px;
}

.subtitle {
    font-size: 1.3em;
}

@media (max-width: 991px) {
    .flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 3% 0px;
    }

    .info {
        width: 90%;
        text-align: center;
        align-items: center;
    }

    .button {
        align-self: center;
    }

    .gates {
        align-self: flex-start;
        /* position: absolute; */
        width: 80vw;
        height: 80vw;
        margin: 3% 5%;
    }
    
    .dark, .light {
        width: 50vw;
        height: 60vw;
    }

    .dark {
        top: 0;
        left: 0;
    }
    
    .light {
        bottom: 50%;
        left: 48.5%;
    }
    
    .cloud {
        flex-direction: column;
    }
}